# Program untuk menggunakan model kelas 3

# Memprediksi bebrapa hari kedepan

In [1]:
import pandas_datareader as pdr
import pandas as pd
from fungsi import persen, datanya
from keras.models import load_model

In [2]:
prediction_days = 80 # timestep
ticker = ["CBMF","MPPA","KONI","SGER","SMMT","PANR","SMRA","MARK","MBSS","FMII",
          "TOTL","URBN","KDSI","ESIP","MEGA","TOBA","PBSA","ASMI","GPRA","SILO"]
mulai_iptpred = '2021-01-01' # tanggal mulai input model untuk memprediksi
akhir_iptpred = '2022-03-04' # tanggal akhir input model untuk memprediksi

hasil_model = pd.DataFrame(columns=['Saham','Perubahan nilai','Keadaan','0/1','Perubahan(%)'])

In [3]:
for tic in ticker:
    makanannya = pdr.DataReader(f'{tic}.JK', data_source='yahoo', start=mulai_iptpred, end=akhir_iptpred)
    model = load_model(f"model/{tic}_model.h5")
    hasil_pred = datanya.predik_5h(makanannya, prediction_days, model)
    kenaikan = hasil_pred[4][0] - hasil_pred[0][0]
    persentase, akan = persen.kenaikan_persen(hasil_pred[0][0], hasil_pred[4][0])
    hasil_model = pd.concat([hasil_model, pd.DataFrame.from_records([{
        'Saham': tic, 'Perubahan nilai' : kenaikan, 'Keadaan': akan[1],
        '0/1':akan[0],'Perubahan(%)' : persentase}])])

In [4]:
# mengurutkan sesuai kolom Perubahan(%), dari nilai terbesar ke terkecil
hasil_model.sort_values(by='Perubahan(%)',ascending=False, inplace=True) 
hasil_model.reset_index(inplace=True, drop=True) # mereset index
hasil_model.to_csv('hasil_kelas_3.csv')
hasil_model

  Saham Perubahan nilai Keadaan 0/1 Perubahan(%)
0  SUPR    10658.407763    Naik   1    36.533162
1  FORU        9.935333    Naik   1     4.469967
2  MEDC       11.172574    Naik   1     2.199747
3  INCO       12.776364    Naik   1     0.269838
4  MSKY        0.260299    Naik   1     0.083884
5  BJTM        0.231295    Naik   1     0.030396
6  CAMP        0.034248    Naik   1     0.012537
7  BPTR       -0.066698   Turun   0    -0.021148
8  PANI       -0.322284   Turun   0    -0.032223
9  BPFI       -1.961807   Turun   0    -0.256654