# Main program
Program ini akan merekomendasikan SAHAM yang beberapa hari kedepan insya allah akan NAIK

In [1]:
# ~~~~~ 1. tentukan tanggal
from datetime import date
today = date.today() #metode untuk mendapatkan tanggal lokal saat ini.
hari_ini = today.strftime("%Y%m%d")# mengambil tanggal hari ini. (untuk nama file)

# tanggal mulai input model memprediksi
mulai_ipred = '2021-05-01'
# tanggal akhir input model memprediksi
akhir_ipred = today.strftime("%Y-%m-%d") #metode strftime() untuk membuat string yang mewakili tanggal dalam format yang berbeda.

# berapa hari kedepan kita ingin memprediksi 
h_predik = 3

# email
login_email = 'xxx@gmail.com' # email untuk masuk ke akun
login_pass_txt = 'data/password.txt' # password email tadi untuk masuk ke akun
email_pengirim = 'xxx@gmail.com' # email pengirim
# siapa saja yang akan menerima emailnya
list_penerima_email = ['xxx@gmail.com']#jika nambah email harus pake spasi sesudah koma

# # bisi mau memprediksi kapanpun itu
# mulai_ipred = '2021-05-01'
# akhir_ipred = '2022-03-24'

In [2]:
# ~~~~~ 2. ambil dan simpan datanya jadi file
from fungsi import makanan
# ~~~~~ 3. file yang berisi ticker jadikan sebuah list
file_ticker_txt = 'data/ticker_jii70.txt'
with open(file_ticker_txt) as file:
    ticker = file.readlines()
    list_ticker = [line.rstrip() for line in ticker]

# ~~~~~ 4. mengambil dan menyimpan data saham untuk input model memprediksi
makanan.psaham(mulai_ipred,akhir_ipred,list_ticker)
print("makanan ai selesai")

makanan ai selesai

In [ ]:
# ~~~~~ 5. saatnya para AI melakukan tugasnya
# ini menghasilkan dataframe yang berisi saham yang naik
from fungsi import pake_kk
hasil_k1 = pake_kk.pake_k1(list_ticker,h_predik)# kelas 1
hasil_k2 = pake_kk.pake_k2(list_ticker,h_predik)# kelas 2
hasil_k3 = pake_kk.pake_k3(list_ticker,h_predik)# kelas 3
hasil_k4 = pake_kk.pake_k4(list_ticker,h_predik)# kelas 4
hasil_k5 = pake_kk.pake_k5(list_ticker,h_predik)# kelas 5
hasil_k6 = pake_kk.pake_k6(list_ticker,h_predik)# kelas 6
hasil_k7 = pake_kk.pake_k7(list_ticker,h_predik)# kelas 7
hasil_k8 = pake_kk.pake_k8(list_ticker,h_predik)# kelas 8
hasil_k9 = pake_kk.pake_k9(list_ticker,h_predik)# kelas 9
hasil_k10 = pake_kk.pake_k10(list_ticker,h_predik)# kelas 10
hasil_k11 = pake_kk.pake_k11(list_ticker,h_predik)# kelas 11
hasil_k12 = pake_kk.pake_k12(list_ticker,h_predik)# kelas 12
hasil_k13 = pake_kk.pake_k13(list_ticker,h_predik)# kelas 13
hasil_k14 = pake_kk.pake_k14(list_ticker,h_predik)# kelas 14
hasil_k15 = pake_kk.pake_k15(list_ticker,h_predik)# kelas 15
hasil_k16 = pake_kk.pake_k16(list_ticker,h_predik)# kelas 16
hasil_k17 = pake_kk.pake_k17(list_ticker,h_predik)# kelas 17
hasil_k18 = pake_kk.pake_k18(list_ticker,h_predik)# kelas 18
hasil_k19 = pake_kk.pake_k19(list_ticker,h_predik)# kelas 19
hasil_k20 = pake_kk.pake_k20(list_ticker,h_predik)# kelas 20
hasil_k21 = pake_kk.pake_k21(list_ticker,h_predik)# kelas 21

In [4]:
# Dulu ini kan digunakan untuk ticker issi jadi pake 50 besar, tapi karna
#setelah banyaknya uji coba akhirnya diputuskan menggunakan jii70.
#Nah seharusnya pake 10 besar dan saat uji coba itu kita menggunakan
#fungsi peringkat_50. Jadi ini sudah terlajur, kita menggunakan
#fungsi peringkat_50 nah output dari fungsi itu kita ambil 10 teratas
#untuk diprediksi kembali

# ~~~~~ 6. mendapatkan voting peringkat 10 besar, dan para kelas kembali melakukan tugasnya
# mendapatkan voting peringkat 10 besar
from fungsi import vote
df_peringkat_50besar, list_50b = vote.peringkat_50(
                hasil_k1,hasil_k2,hasil_k3,hasil_k4,hasil_k5,
                hasil_k6,hasil_k7,hasil_k8,hasil_k9,hasil_k10,
                hasil_k11,hasil_k12,hasil_k13,hasil_k14,hasil_k15,
                hasil_k16,hasil_k17,hasil_k18,hasil_k19,hasil_k20,hasil_k21)
list_50b = list_50b[:10]

# para kelas kembali melakukan tugasnya kepada list_50b
hasil50b_k1 = pake_kk.pake_k1(list_50b,h_predik)
hasil50b_k2 = pake_kk.pake_k2(list_50b,h_predik)
hasil50b_k3 = pake_kk.pake_k3(list_50b,h_predik)
hasil50b_k4 = pake_kk.pake_k4(list_50b,h_predik)
hasil50b_k5 = pake_kk.pake_k5(list_50b,h_predik)
hasil50b_k6 = pake_kk.pake_k6(list_50b,h_predik)
hasil50b_k7 = pake_kk.pake_k7(list_50b,h_predik)
hasil50b_k8 = pake_kk.pake_k8(list_50b,h_predik)# kelas 8
hasil50b_k9 = pake_kk.pake_k9(list_50b,h_predik)# kelas 9
hasil50b_k10 = pake_kk.pake_k10(list_50b,h_predik)# kelas 10
hasil50b_k11 = pake_kk.pake_k11(list_50b,h_predik)# kelas 11
hasil50b_k12 = pake_kk.pake_k12(list_50b,h_predik)# kelas 12
hasil50b_k13 = pake_kk.pake_k13(list_50b,h_predik)# kelas 13
hasil50b_k14 = pake_kk.pake_k14(list_50b,h_predik)# kelas 14
hasil50b_k15 = pake_kk.pake_k15(list_50b,h_predik)# kelas 15
hasil50b_k16 = pake_kk.pake_k16(list_50b,h_predik)# kelas 16
hasil50b_k17 = pake_kk.pake_k17(list_50b,h_predik)# kelas 17
hasil50b_k18 = pake_kk.pake_k18(list_50b,h_predik)# kelas 18
hasil50b_k19 = pake_kk.pake_k19(list_50b,h_predik)# kelas 19
hasil50b_k20 = pake_kk.pake_k20(list_50b,h_predik)# kelas 20
hasil50b_k21 = pake_kk.pake_k21(list_50b,h_predik)# kelas 21

Kelas 1 selesai
Kelas 2 selesai
Kelas 3 selesai
Kelas 4 selesai
Kelas 5 selesai
Kelas 6 selesai
Kelas 7 selesai
Kelas 8 selesai
Kelas 9 selesai
Kelas 10 selesai
Kelas 11 selesai
Kelas 12 selesai
Kelas 13 selesai
Kelas 14 selesai
Kelas 15 selesai
Kelas 16 selesai
Kelas 17 selesai
Kelas 18 selesai
Kelas 19 selesai
Kelas 20 selesai
Kelas 21 selesai

In [5]:
# ~~~~~ 7. mengambil voting peringkat 5, dan 10 besar
peringkat_5besar, peringkat_10besar = vote.peringkat_10dan5(hasil50b_k1,hasil50b_k2,hasil50b_k3,hasil50b_k4,
                                                            hasil50b_k5,hasil50b_k6,hasil50b_k7,hasil50b_k8,
                                                            hasil50b_k9,hasil50b_k10,hasil50b_k11,
                                                            hasil50b_k12,hasil50b_k13,hasil50b_k14,
                                                            hasil50b_k15,hasil50b_k16,hasil50b_k17,
                                                            hasil50b_k18,hasil50b_k19,hasil50b_k20
                                                            ,hasil50b_k21)
# ~~~~~ 8. Mengambil keputusan untuk hasil akhir dan mengirim email
from fungsi import harga, beli_saham
pembelian = harga.pembelian(peringkat_5besar)
penjualan = harga.penjualan(peringkat_5besar)
beli_saham.beli_saham(pembelian, h_predik)

     Saham-saham yang akan naik 3 hari kedepan:
1. Saham ASRI
   - Harga terakhir saham ASRI = Rp 158
   - Harga saham ASRI  di 1% = Rp 159.58
   - Harga batas saham ASRI di 2% = Rp 161.16
   - Harga 1 lot saham ASRI di 2% = Rp 16116
Beli disekitar harga 158 sampai 161.16.  **jika bisa lebih kurang dari itu, maka akan lebih bagus

2. Saham TAPG
   - Harga terakhir saham TAPG = Rp 710.0
   - Harga saham TAPG  di 1% = Rp 717.1
   - Harga batas saham TAPG di 2% = Rp 724.2
   - Harga 1 lot saham TAPG di 2% = Rp 72420
Beli disekitar harga 710.0 sampai 724.2.  **jika bisa lebih kurang dari itu, maka akan lebih bagus

!!!!! JANGAN SAMPAI KESINI !!!!!
~ Harga Maksimal pembelian saham ASRI di 5% = Rp 165.9
~ Harga Maksimal pembelian saham TAPG di 5% = Rp 745.5

In [6]:
pembelian

,Saham,Harga Terakhir,Harga di 1%,Batas Harga (2%),Harga 1 lot(2%),Maksimal Harga (5%)
0,ASRI,158,159.58,161.16,16116,165.9
1,TAPG,710.0,717.1,724.2,72420,745.5
2,SIDO,960.0,969.6,979.2,97920,1008.0
3,INKP,7775.0,7852.75,7930.5,793050,8163.75
4,KLBF,1630.0,1646.3,1662.6,166260,1711.5

In [7]:
peringkat_5besar

  Saham voting total jumlah persentase(%)
0  ASRI     18                  12.803847
1  TAPG     18                  11.100123
2  SIDO     19                  10.764955
3  INKP     18                   8.476383
4  KLBF     19                   5.010574

In [8]:
peringkat_10besar.to_csv(f'hasil_Rizky/{akhir_ipred}_10besar_main.csv',index=False)
peringkat_10besar

  Saham voting total jumlah persentase(%)
0  SIDO     19                  10.764955
1  KLBF     19                   5.010574
2  INKP     18                   8.476383
3  TAPG     18                  11.100123
4  ASRI     18                  12.803847
5  FILM     16                  55.186303
6  SMGR     16                   5.317225
7  ERAA     16                   9.404871
8  INTP     16                  176.88481
9  MIKA     15                  16.880258

In [9]:
# ~~~~~ 9. mengirim email
from fungsi import email
email.kirim_email(login_email,login_pass_txt,email_pengirim,list_penerima_email,
                  pembelian,penjualan,peringkat_5besar,peringkat_10besar,h_predik,akhir_ipred)

# Ini dipakai hanya jika diperingkat 3,5,dan 10 tidak ada saham yang sama

In [10]:
# mengambil_voting = vote.pemungutan_suara(hasil_k1,hasil_k2,hasil_k3,hasil_k4,hasil_k5,hasil_k6,hasil_k7,
#                                          hasil_k8,hasil_k9,hasil_k10,hasil_k11,hasil_k12,hasil_k13,hasil_k14,
#                                          hasil_k15,hasil_k16,hasil_k17,hasil_k18,hasil_k19,hasil_k20,hasil_k21)
# mengambil_voting.to_csv(f'hasil_Rizky/{hari_ini}_voting.csv',index=False)
# mengambil_voting