# Main program
Program ini akan merekomendasikan SAHAM yang beberapa hari kedepan insya allah akan NAIK

In [19]:
# ~~~~~ 1. tentukan tanggal
from datetime import date
today = date.today() #metode untuk mendapatkan tanggal lokal saat ini.
hari_ini = today.strftime("%Y%m%d")# mengambil tanggal hari ini. (untuk nama file)

# # tanggal mulai input model memprediksi
# mulai_ipred = '2021-05-01'
# # tanggal akhir input model memprediksi
# akhir_ipred = today.strftime("%Y-%m-%d") #metode strftime() untuk membuat string yang mewakili tanggal dalam format yang berbeda.

# berapa hari kedepan kita ingin memprediksi 
h_predik = 3

# email
login_email = 'xxx@gmail.com' # email untuk masuk ke akun
login_pass_txt = 'data/password.txt' # password email tadi untuk masuk ke akun
email_pengirim = 'xxx@gmail.com' # email pengirim
# siapa saja yang akan menerima emailnya
list_penerima_email = ['xxx@gmail.com']#jika nambah email harus pake spasi sesudah koma

# bisi mau memprediksi kapanpun itu
mulai_ipred = '2021-05-01'
akhir_ipred = '2022-03-24'

In [20]:
# ~~~~~ 2. ambil dan simpan datanya jadi file
from fungsi import makanan
# ~~~~~ 3. file yang berisi ticker jadikan sebuah list
file_ticker_txt = 'data/ticker_jii70.txt'
with open(file_ticker_txt) as file:
    ticker = file.readlines()
    list_ticker = [line.rstrip() for line in ticker]

# ~~~~~ 4. mengambil dan menyimpan data saham untuk input model memprediksi
makanan.psaham(mulai_ipred,akhir_ipred,list_ticker)
print("makanan ai selesai")

# ~~~~~ 5. saatnya para AI melakukan tugasnya
# ini menghasilkan dataframe yang berisi saham yang naik
from fungsi import pake_kk
hasil_k1 = pake_kk.pake_k1(list_ticker,h_predik)# kelas 1
hasil_k2 = pake_kk.pake_k2(list_ticker,h_predik)# kelas 2
hasil_k3 = pake_kk.pake_k3(list_ticker,h_predik)# kelas 3
hasil_k4 = pake_kk.pake_k4(list_ticker,h_predik)# kelas 4
hasil_k5 = pake_kk.pake_k5(list_ticker,h_predik)# kelas 5
hasil_k6 = pake_kk.pake_k6(list_ticker,h_predik)# kelas 6
hasil_k7 = pake_kk.pake_k7(list_ticker,h_predik)# kelas 7
hasil_k8 = pake_kk.pake_k8(list_ticker,h_predik)# kelas 8
hasil_k9 = pake_kk.pake_k9(list_ticker,h_predik)# kelas 9
hasil_k10 = pake_kk.pake_k10(list_ticker,h_predik)# kelas 10
hasil_k11 = pake_kk.pake_k11(list_ticker,h_predik)# kelas 11
hasil_k12 = pake_kk.pake_k12(list_ticker,h_predik)# kelas 12
hasil_k13 = pake_kk.pake_k13(list_ticker,h_predik)# kelas 13
hasil_k14 = pake_kk.pake_k14(list_ticker,h_predik)# kelas 14
hasil_k15 = pake_kk.pake_k15(list_ticker,h_predik)# kelas 15
hasil_k16 = pake_kk.pake_k16(list_ticker,h_predik)# kelas 16
hasil_k17 = pake_kk.pake_k17(list_ticker,h_predik)# kelas 17
hasil_k18 = pake_kk.pake_k18(list_ticker,h_predik)# kelas 18
hasil_k19 = pake_kk.pake_k19(list_ticker,h_predik)# kelas 19
hasil_k20 = pake_kk.pake_k20(list_ticker,h_predik)# kelas 20
hasil_k21 = pake_kk.pake_k21(list_ticker,h_predik)# kelas 21

makanan ai selesai
Kelas 1 selesai
Kelas 2 selesai
Kelas 3 selesai
Kelas 4 selesai
Kelas 5 selesai
Kelas 6 selesai
Kelas 7 selesai
Kelas 8 selesai
Kelas 9 selesai
Kelas 10 selesai
Kelas 11 selesai
Kelas 12 selesai
Kelas 13 selesai
Kelas 14 selesai
Kelas 15 selesai
Kelas 16 selesai
Kelas 17 selesai
Kelas 18 selesai
Kelas 19 selesai
Kelas 20 selesai
Kelas 21 selesai

In [21]:
# ~~~~~ 6. mendapatkan voting peringkat 10 besar, dan para kelas kembali melakukan tugasnya
# mendapatkan voting peringkat 10 besar
from fungsi import vote2
df_peringkat_10besar, list_10b = vote2.peringkat_10(
                hasil_k1,hasil_k2,hasil_k3,hasil_k4,hasil_k5,
                hasil_k6,hasil_k7,hasil_k8,hasil_k9,hasil_k10,
                hasil_k11,hasil_k12,hasil_k13,hasil_k14,hasil_k15,
                hasil_k16,hasil_k17,hasil_k18,hasil_k19,hasil_k20,hasil_k21)
list_10b = list_10b[:10] # list yang berisi 10 ticker saham yang paling banyak votenya

# para kelas kembali melakukan tugasnya kepada list_10b
hasil50b_k1 = pake_kk.pake_k1(list_10b,h_predik)# kelas 1
hasil50b_k2 = pake_kk.pake_k2(list_10b,h_predik)# kelas 2
hasil50b_k3 = pake_kk.pake_k3(list_10b,h_predik)# kelas 3
hasil50b_k4 = pake_kk.pake_k4(list_10b,h_predik)# kelas 4
hasil50b_k5 = pake_kk.pake_k5(list_10b,h_predik)# kelas 5
hasil50b_k6 = pake_kk.pake_k6(list_10b,h_predik)# kelas 6
hasil50b_k7 = pake_kk.pake_k7(list_10b,h_predik)# kelas 7
hasil50b_k8 = pake_kk.pake_k8(list_10b,h_predik)# kelas 8
hasil50b_k9 = pake_kk.pake_k9(list_10b,h_predik)# kelas 9
hasil50b_k10 = pake_kk.pake_k10(list_10b,h_predik)# kelas 10
hasil50b_k11 = pake_kk.pake_k11(list_10b,h_predik)# kelas 11
hasil50b_k12 = pake_kk.pake_k12(list_10b,h_predik)# kelas 12
hasil50b_k13 = pake_kk.pake_k13(list_10b,h_predik)# kelas 13
hasil50b_k14 = pake_kk.pake_k14(list_10b,h_predik)# kelas 14
hasil50b_k15 = pake_kk.pake_k15(list_10b,h_predik)# kelas 15
hasil50b_k16 = pake_kk.pake_k16(list_10b,h_predik)# kelas 16
hasil50b_k17 = pake_kk.pake_k17(list_10b,h_predik)# kelas 17
hasil50b_k18 = pake_kk.pake_k18(list_10b,h_predik)# kelas 18
hasil50b_k19 = pake_kk.pake_k19(list_10b,h_predik)# kelas 19
hasil50b_k20 = pake_kk.pake_k20(list_10b,h_predik)# kelas 20
hasil50b_k21 = pake_kk.pake_k21(list_10b,h_predik)# kelas 21

Kelas 1 selesai
Kelas 2 selesai
Kelas 3 selesai
Kelas 4 selesai
Kelas 5 selesai
Kelas 6 selesai
Kelas 7 selesai
Kelas 8 selesai
Kelas 9 selesai
Kelas 10 selesai
Kelas 11 selesai
Kelas 12 selesai
Kelas 13 selesai
Kelas 14 selesai
Kelas 15 selesai
Kelas 16 selesai
Kelas 17 selesai
Kelas 18 selesai
Kelas 19 selesai
Kelas 20 selesai
Kelas 21 selesai

In [22]:
# ~~~~~ 7. mengambil voting peringkat 5, dan 10 besar
peringkat_5besar, peringkat_10besar = vote2.peringkat_10dan5(hasil50b_k1,hasil50b_k2,hasil50b_k3,hasil50b_k4,
                                                            hasil50b_k5,hasil50b_k6,hasil50b_k7,hasil50b_k8,
                                                            hasil50b_k9,hasil50b_k10,hasil50b_k11,
                                                            hasil50b_k12,hasil50b_k13,hasil50b_k14,
                                                            hasil50b_k15,hasil50b_k16,hasil50b_k17,
                                                            hasil50b_k18,hasil50b_k19,hasil50b_k20
                                                            ,hasil50b_k21)
# ~~~~~ 8. Mengambil keputusan untuk hasil akhir dan mengirim email
from fungsi import harga, beli_saham
pembelian = harga.pembelian(peringkat_5besar) # mendapatkan dataframe saham pembelian
penjualan = harga.penjualan(peringkat_5besar) # mendapatkan dataframe saham penjualan
beli_saham.beli_saham(pembelian, h_predik) # hasil

     Saham-saham yang akan naik 3 hari kedepan:
1. Saham BTPS
   - Harga terakhir saham BTPS = Rp 3600
   - Harga saham BTPS  di 1% = Rp 3636.0
   - Harga batas saham BTPS di 2% = Rp 3672.0
   - Harga 1 lot saham BTPS di 2% = Rp 367200
Beli disekitar harga 3600 sampai 3672.0.  **jika bisa lebih kurang dari itu, maka akan lebih bagus

2. Saham ASRI
   - Harga terakhir saham ASRI = Rp 170
   - Harga saham ASRI  di 1% = Rp 171.7
   - Harga batas saham ASRI di 2% = Rp 173.4
   - Harga 1 lot saham ASRI di 2% = Rp 17340
Beli disekitar harga 170 sampai 173.4.  **jika bisa lebih kurang dari itu, maka akan lebih bagus

!!!!! JANGAN SAMPAI KESINI !!!!!
~ Harga Maksimal pembelian saham BTPS di 5% = Rp 3780.0
~ Harga Maksimal pembelian saham ASRI di 5% = Rp 178.5

In [23]:
pembelian

,Saham,Harga Terakhir,Harga di 1%,Batas Harga (2%),Harga 1 lot(2%),Maksimal Harga (5%)
0,BTPS,3600,3636.0,3672.0,367200,3780.0
1,ASRI,170,171.7,173.4,17340,178.5
2,LPKR,137,138.37,139.74,13974,143.85
3,WOOD,740.0,747.4,754.8,75480,777.0
4,ERAA,590.0,595.9,601.8,60179,619.5

In [24]:
peringkat_5besar

  Saham voting total jumlah persentase(%)
0  BTPS     16                  36.639813
1  ASRI     16                  17.007474
2  LPKR     17                  13.445434
3  WOOD     18                  12.741325
4  ERAA     16                  11.924813

In [25]:
peringkat_10besar.to_csv(f'hasil_Rizky/{akhir_ipred}_10besar_main.csv',index=False)
peringkat_10besar

  Saham voting total jumlah persentase(%)
0  WOOD     18                  12.741325
1  LPKR     17                  13.445434
2  ERAA     16                  11.924813
3  ASRI     16                  17.007474
4  BTPS     16                  36.639813
5  SCMA     15                  13.363153
6  HRUM     15                  23.711733
7  BRPT     15                  12.723473
8  AKRA     14                  12.718065
9  INCO     11                  24.793781

In [26]:
# ~~~~~ 9. mengirim email
from fungsi import email
email.kirim_email(login_email,login_pass_txt,email_pengirim,list_penerima_email,
                  pembelian,penjualan,peringkat_5besar,peringkat_10besar,h_predik,akhir_ipred)

# Ini dipakai hanya jika diperingkat 3,5,dan 10 tidak ada saham yang sama

In [27]:
# mengambil_voting = vote2.pemungutan_suara(hasil_k1,hasil_k2,hasil_k3,hasil_k4,hasil_k5,hasil_k6,hasil_k7,
#                                          hasil_k8,hasil_k9,hasil_k10,hasil_k11,hasil_k12,hasil_k13,hasil_k14,
#                                          hasil_k15,hasil_k16,hasil_k17,hasil_k18,hasil_k19,hasil_k20,hasil_k21)
# mengambil_voting.to_csv(f'hasil_Rizky/{akhir_ipred}_voting.csv',index=False)
# mengambil_voting