# Program untuk menggunakan model kelas 4

# Memprediksi bebrapa hari kedepan

In [1]:
import pandas_datareader as pdr
import pandas as pd
from fungsi import persen, datanya
from keras.models import load_model

In [2]:
window_size = 20 # timestep
ticker = ["CBMF","MPPA","KONI","SGER","SMMT","PANR","SMRA","MARK","MBSS","FMII",
          "TOTL","URBN","KDSI","ESIP","MEGA","TOBA","PBSA","ASMI","GPRA","SILO"]
mulai_iptpred = '2021-01-01' # tanggal mulai input model untuk memprediksi
akhir_iptpred = '2022-03-04' # tanggal akhir input model untuk memprediksi

hasil_model = pd.DataFrame(columns=['Saham','Perubahan nilai','Keadaan','0/1','Perubahan(%)'])

In [3]:
for tic in ticker:
    makanannya = pdr.DataReader(f'{tic}.JK', data_source='yahoo', start=mulai_iptpred, end=akhir_iptpred)
    model = load_model(f"model/{tic}_model.h5")
    hasil_pred = datanya.predik5h_4(makanannya, window_size, model)
    kenaikan = hasil_pred[4][0] - hasil_pred[0][0]
    persentase, akan = persen.kenaikan_persen(hasil_pred[0][0], hasil_pred[4][0])
    hasil_model = pd.concat([hasil_model, pd.DataFrame.from_records([{
        'Saham': tic, 'Perubahan nilai' : kenaikan, 'Keadaan': akan[1],
        '0/1':akan[0],'Perubahan(%)' : persentase}])])

In [4]:
# mengurutkan sesuai kolom Perubahan(%), dari nilai terbesar ke terkecil
hasil_model.sort_values(by='Perubahan(%)',ascending=False, inplace=True) 
hasil_model.reset_index(inplace=True, drop=True) # mereset index
hasil_model.to_csv('hasil_kelas_4.csv', index=False)
hasil_model

  Saham Perubahan nilai Keadaan 0/1 Perubahan(%)
0  PANI        7.389121    Naik   1     0.440799
1  SUPR      118.520433    Naik   1     0.428337
2  INCO        1.120705    Naik   1     0.023657
3  CAMP       -0.031369   Turun   0    -0.011255
4  BJTM       -0.737717   Turun   0    -0.098115
5  MSKY        -0.67512   Turun   0    -0.210469
6  MEDC       -2.572868   Turun   0    -0.488872
7  BPFI      -10.824016   Turun   0    -1.380918
8  BPTR       -5.281288   Turun   0    -2.312655
9  FORU      -24.412886   Turun   0   -11.696783