# Program Superior
Program ini akan merekomendasikan SAHAM yang beberapa hari kedepan insya allah akan NAIK.

> PROGRAM INI MERUPAKAN HASIL AKHIR (PROGRAM INILAH UNTUK MEMPREDIKSI SAHAM). Program ini merupakan gabungan dari program kendali yang terbaik yaitu main dan main2. Para model/A.I buatan 15-03-2022 ~ 04-05-2022

# 1. isilah data ini (optional)

In [1]:
# mengambil tanggal hari ini
from datetime import date
today = date.today() #metode untuk mendapatkan tanggal lokal saat ini.

#* hapus komentar ## jika ingin menggunakan kode dibawah ini
# # tanggal mulai input model memprediksi
# mulai_ipred = '2021-05-01'
# # tanggal akhir input model memprediksi
# akhir_ipred = today.strftime("%Y-%m-%d") #metode strftime() untuk membuat string yang mewakili tanggal dalam format yang berbeda.

# berapa hari kedepan kita ingin memprediksi??
h_predik = 3 # hari

# email. nanti hasilnya data dikirim ke email
login_email = 'xxx@gmail.com' # email untuk masuk ke akun
login_pass_txt = 'data/password.txt' # masukkan file txt yang berisipassword email untuk masuk ke akun
email_pengirim = 'xxx@gmail.com' # email pengirim
# siapa saja yang akan menerima emailnya??
list_penerima_email = ['xxx@gmail.com']#jika nambah email harus pake spasi sesudah koma

#* hapus komentar ## jika ingin menggunakan kode dibawah ini
# bisi mau memprediksi kapanpun itu
mulai_ipred = '2021-05-01'
akhir_ipred = '2022-06-10               '

# 2. mendapatkan data untuk input ai

In [2]:
# ~~~~~  file yang berisi ticker jadikan sebuah list
from fungsi import makanan
file_ticker_txt = 'data/ticker_jii70.txt'
with open(file_ticker_txt) as file:
    ticker = file.readlines()
    list_ticker = [line.rstrip() for line in ticker]

# ~~~~~ mengambil dan menyimpan data saham untuk input model memprediksi
makanan.psaham(mulai_ipred,akhir_ipred,list_ticker)
print("makanan ai selesai")

makanan ai selesai

# 3. saatnya para AI melakukan tugasnya

In [ ]:
# ini menghasilkan dataframe yang berisi saham yang naik
from fungsi import pake_kk
hasil_k1 = pake_kk.pake_k1(list_ticker,h_predik)# kelas 1
hasil_k2 = pake_kk.pake_k2(list_ticker,h_predik)# kelas 2
hasil_k3 = pake_kk.pake_k3(list_ticker,h_predik)# kelas 3
hasil_k4 = pake_kk.pake_k4(list_ticker,h_predik)# kelas 4
hasil_k5 = pake_kk.pake_k5(list_ticker,h_predik)# kelas 5
hasil_k6 = pake_kk.pake_k6(list_ticker,h_predik)# kelas 6
hasil_k7 = pake_kk.pake_k7(list_ticker,h_predik)# kelas 7
hasil_k8 = pake_kk.pake_k8(list_ticker,h_predik)# kelas 8
hasil_k9 = pake_kk.pake_k9(list_ticker,h_predik)# kelas 9
hasil_k10 = pake_kk.pake_k10(list_ticker,h_predik)# kelas 10
hasil_k11 = pake_kk.pake_k11(list_ticker,h_predik)# kelas 11
hasil_k12 = pake_kk.pake_k12(list_ticker,h_predik)# kelas 12
hasil_k13 = pake_kk.pake_k13(list_ticker,h_predik)# kelas 13
hasil_k14 = pake_kk.pake_k14(list_ticker,h_predik)# kelas 14
hasil_k15 = pake_kk.pake_k15(list_ticker,h_predik)# kelas 15
hasil_k16 = pake_kk.pake_k16(list_ticker,h_predik)# kelas 16
hasil_k17 = pake_kk.pake_k17(list_ticker,h_predik)# kelas 17
hasil_k18 = pake_kk.pake_k18(list_ticker,h_predik)# kelas 18
hasil_k19 = pake_kk.pake_k19(list_ticker,h_predik)# kelas 19
hasil_k20 = pake_kk.pake_k20(list_ticker,h_predik)# kelas 20
hasil_k21 = pake_kk.pake_k21(list_ticker,h_predik)# kelas 21

# 4. mendapatkan voting peringkat 10 teratas dari 50 besar dan para kelas kembali melakukan tugasnya

>> (Ini bagian yang diambil dari program main)

In [4]:
# mendapatkan voting peringkat 10 besar
from fungsi import vote
df_peringkat_50besar, list_50b = vote.peringkat_50(
                hasil_k1,hasil_k2,hasil_k3,hasil_k4,hasil_k5,
                hasil_k6,hasil_k7,hasil_k8,hasil_k9,hasil_k10,
                hasil_k11,hasil_k12,hasil_k13,hasil_k14,hasil_k15,
                hasil_k16,hasil_k17,hasil_k18,hasil_k19,hasil_k20,hasil_k21)
list_50b = list_50b[:10]

# para kelas kembali melakukan tugasnya kepada list_50b
hasil50b_k1 = pake_kk.pake_k1(list_50b,h_predik)
hasil50b_k2 = pake_kk.pake_k2(list_50b,h_predik)
hasil50b_k3 = pake_kk.pake_k3(list_50b,h_predik)
hasil50b_k4 = pake_kk.pake_k4(list_50b,h_predik)
hasil50b_k5 = pake_kk.pake_k5(list_50b,h_predik)
hasil50b_k6 = pake_kk.pake_k6(list_50b,h_predik)
hasil50b_k7 = pake_kk.pake_k7(list_50b,h_predik)
hasil50b_k8 = pake_kk.pake_k8(list_50b,h_predik)# kelas 8
hasil50b_k9 = pake_kk.pake_k9(list_50b,h_predik)# kelas 9
hasil50b_k10 = pake_kk.pake_k10(list_50b,h_predik)# kelas 10
hasil50b_k11 = pake_kk.pake_k11(list_50b,h_predik)# kelas 11
hasil50b_k12 = pake_kk.pake_k12(list_50b,h_predik)# kelas 12
hasil50b_k13 = pake_kk.pake_k13(list_50b,h_predik)# kelas 13
hasil50b_k14 = pake_kk.pake_k14(list_50b,h_predik)# kelas 14
hasil50b_k15 = pake_kk.pake_k15(list_50b,h_predik)# kelas 15
hasil50b_k16 = pake_kk.pake_k16(list_50b,h_predik)# kelas 16
hasil50b_k17 = pake_kk.pake_k17(list_50b,h_predik)# kelas 17
hasil50b_k18 = pake_kk.pake_k18(list_50b,h_predik)# kelas 18
hasil50b_k19 = pake_kk.pake_k19(list_50b,h_predik)# kelas 19
hasil50b_k20 = pake_kk.pake_k20(list_50b,h_predik)# kelas 20
hasil50b_k21 = pake_kk.pake_k21(list_50b,h_predik)# kelas 21

Kelas 1 selesai
Kelas 2 selesai
Kelas 3 selesai
Kelas 4 selesai
Kelas 5 selesai
Kelas 6 selesai
Kelas 7 selesai
Kelas 8 selesai
Kelas 9 selesai
Kelas 10 selesai
Kelas 11 selesai
Kelas 12 selesai
Kelas 13 selesai
Kelas 14 selesai
Kelas 15 selesai
Kelas 16 selesai
Kelas 17 selesai
Kelas 18 selesai
Kelas 19 selesai
Kelas 20 selesai
Kelas 21 selesai

In [5]:
# (Ini bagian yang diambil dari program main)
#mengambil voting peringkat 5, dan 10 besar
m1peringkat_5besar, m1peringkat_10besar = vote.peringkat_10dan5(hasil50b_k1,hasil50b_k2,hasil50b_k3,hasil50b_k4,
                                                            hasil50b_k5,hasil50b_k6,hasil50b_k7,hasil50b_k8,
                                                            hasil50b_k9,hasil50b_k10,hasil50b_k11,
                                                            hasil50b_k12,hasil50b_k13,hasil50b_k14,
                                                            hasil50b_k15,hasil50b_k16,hasil50b_k17,
                                                            hasil50b_k18,hasil50b_k19,hasil50b_k20
                                                            ,hasil50b_k21)

# 5. mendapatkan voting peringkat 10 teratas dari 10 besar, dan para kelas kembali melakukan tugasnya

>> (Ini bagian yang diambil dari program main2)

In [6]:
# mendapatkan voting peringkat 10 besar
from fungsi import vote2
df_peringkat_10besar, list_10b = vote2.peringkat_10(
                hasil_k1,hasil_k2,hasil_k3,hasil_k4,hasil_k5,
                hasil_k6,hasil_k7,hasil_k8,hasil_k9,hasil_k10,
                hasil_k11,hasil_k12,hasil_k13,hasil_k14,hasil_k15,
                hasil_k16,hasil_k17,hasil_k18,hasil_k19,hasil_k20,hasil_k21)
list_10b = list_10b[:10] # list yang berisi 10 ticker saham yang paling banyak votenya

# para kelas kembali melakukan tugasnya kepada list_10b
hasil10b_k1 = pake_kk.pake_k1(list_10b,h_predik)# kelas 1
hasil10b_k2 = pake_kk.pake_k2(list_10b,h_predik)# kelas 2
hasil10b_k3 = pake_kk.pake_k3(list_10b,h_predik)# kelas 3
hasil10b_k4 = pake_kk.pake_k4(list_10b,h_predik)# kelas 4
hasil10b_k5 = pake_kk.pake_k5(list_10b,h_predik)# kelas 5
hasil10b_k6 = pake_kk.pake_k6(list_10b,h_predik)# kelas 6
hasil10b_k7 = pake_kk.pake_k7(list_10b,h_predik)# kelas 7
hasil10b_k8 = pake_kk.pake_k8(list_10b,h_predik)# kelas 8
hasil10b_k9 = pake_kk.pake_k9(list_10b,h_predik)# kelas 9
hasil10b_k10 = pake_kk.pake_k10(list_10b,h_predik)# kelas 10
hasil10b_k11 = pake_kk.pake_k11(list_10b,h_predik)# kelas 11
hasil10b_k12 = pake_kk.pake_k12(list_10b,h_predik)# kelas 12
hasil10b_k13 = pake_kk.pake_k13(list_10b,h_predik)# kelas 13
hasil10b_k14 = pake_kk.pake_k14(list_10b,h_predik)# kelas 14
hasil10b_k15 = pake_kk.pake_k15(list_10b,h_predik)# kelas 15
hasil10b_k16 = pake_kk.pake_k16(list_10b,h_predik)# kelas 16
hasil10b_k17 = pake_kk.pake_k17(list_10b,h_predik)# kelas 17
hasil10b_k18 = pake_kk.pake_k18(list_10b,h_predik)# kelas 18
hasil10b_k19 = pake_kk.pake_k19(list_10b,h_predik)# kelas 19
hasil10b_k20 = pake_kk.pake_k20(list_10b,h_predik)# kelas 20
hasil10b_k21 = pake_kk.pake_k21(list_10b,h_predik)# kelas 21

Kelas 1 selesai
Kelas 2 selesai
Kelas 3 selesai
Kelas 4 selesai
Kelas 5 selesai
Kelas 6 selesai
Kelas 7 selesai
Kelas 8 selesai
Kelas 9 selesai
Kelas 10 selesai
Kelas 11 selesai
Kelas 12 selesai
Kelas 13 selesai
Kelas 14 selesai
Kelas 15 selesai
Kelas 16 selesai
Kelas 17 selesai
Kelas 18 selesai
Kelas 19 selesai
Kelas 20 selesai
Kelas 21 selesai

In [7]:
# (Ini bagian yang diambil dari program main2)
#mengambil voting peringkat 5, dan 10 besar
m2peringkat_5besar, m2peringkat_10besar = vote2.peringkat_10dan5(hasil10b_k1,hasil10b_k2,hasil10b_k3,hasil10b_k4,
                                                            hasil10b_k5,hasil10b_k6,hasil10b_k7,hasil10b_k8,
                                                            hasil10b_k9,hasil10b_k10,hasil10b_k11,
                                                            hasil10b_k12,hasil10b_k13,hasil10b_k14,
                                                            hasil10b_k15,hasil10b_k16,hasil10b_k17,
                                                            hasil10b_k18,hasil10b_k19,hasil10b_k20
                                                            ,hasil10b_k21)

# 6. menyatukan data hasil dari bagian main dan main2.

In [8]:
# menyatukan dataframe hasil dari bagian main dan main2. 
from fungsi import srvote,sr_harga, sr_beli_saham 
peringkat_2besar = srvote.peringkat2_besar(m1peringkat_5besar,m2peringkat_5besar)
peringkat_5besar = srvote.peringkat5_besar(m1peringkat_5besar,m2peringkat_5besar)
peringkat_10besar = srvote.peringkat10_besar(m1peringkat_10besar,m2peringkat_10besar)

# dataframe saham pembelian dan saham penjualan
pembelian = sr_harga.pembelian(peringkat_2besar)
penjualan = sr_harga.penjualan(peringkat_2besar)
sr_beli_saham.beli_saham(pembelian, h_predik) # fungsi yang menampikan hasil saham

     Saham-saham yang akan naik 3 hari kedepan:
1. Saham IPTV
   - Harga terakhir saham IPTV = Rp 122
   - Harga saham IPTV  di 1% = Rp 123.22
   - Harga batas saham IPTV di 2% = Rp 124.44
   - Harga 1 lot saham IPTV di 2% = Rp 12444
Beli disekitar harga 122 sampai 124.44.  **jika bisa lebih kurang dari itu, maka akan lebih bagus

2. Saham ISAT
   - Harga terakhir saham ISAT = Rp 6625.0
   - Harga saham ISAT  di 1% = Rp 6691.25
   - Harga batas saham ISAT di 2% = Rp 6757.5
   - Harga 1 lot saham ISAT di 2% = Rp 675750
Beli disekitar harga 6625.0 sampai 6757.5.  **jika bisa lebih kurang dari itu, maka akan lebih bagus

!!!!! JANGAN SAMPAI KESINI !!!!!
~ Harga Maksimal pembelian saham IPTV di 5% = Rp 125.66
~ Harga Maksimal pembelian saham ISAT di 5% = Rp 6823.75

In [9]:
pembelian

  Saham    Last Hrg -2%  Hrg -1%   Hrg 1%  Hrg 2% Hrg 1 lot2%   Hrg 3%
0  IPTV     122  119.56   120.78   123.22  124.44       12444   125.66
1  ISAT  6625.0  6492.5  6558.75  6691.25  6757.5      675750  6823.75

In [10]:
penjualan

  Saham Harga 5% Harga 10% Harga 15% Harga 20% Harga 25% Harga 30%
0  IPTV    128.1     134.2     140.3     146.4     152.5     158.6
1  ISAT  6956.25    7287.5   7618.75    7950.0   8281.25    8612.5

In [11]:
peringkat_2besar

  Saham voting rata-rata nilai persentase(%)
0  IPTV      2                     41.824843
1  ISAT      2                      18.54325

In [12]:
peringkat_5besar

  Saham voting rata-rata nilai persentase(%)
0  IPTV      2                     41.824843
1  ISAT      2                      18.54325
2  BANK      2                     16.810167
3  BTPS      2                      7.186712

In [13]:
peringkat_10besar

  Saham voting rata-rata nilai persentase(%)
0  IPTV      2                     41.824843
1  ISAT      2                      18.54325
2  BANK      2                     16.810167
3  ADHI      2                      12.27608
4  BMTR      2                     10.942432
5  BTPS      2                      7.186712

# 7. mengirimkan hasilnya ke email

jika ada error seperti:
    SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. Learn 
    more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials 
    o62-20020a17090a0a4400b001e2b19e6cfesm1410176pjo.12 - gsmtp')

Singkatnya, google tidak mengizinkan Anda untuk masuk melalui smtplib karena telah
menandai jenis masuk ini sebagai "kurang aman".
solusinya cari di internet

In [14]:
from fungsi import sr_email as email
email.kirim_email(login_email,login_pass_txt,email_pengirim,list_penerima_email,
                  pembelian,penjualan,peringkat_2besar,peringkat_5besar,h_predik,akhir_ipred)

SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. Learn more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials k132-20020a633d8a000000b003fd9e4911f9sm9903720pga.31 - gsmtp')

In [ ]:
## menyimpan hasil akhir. ini dataframe file csv
tgl_aip = akhir_ipred.replace('-','') # misal '22-05-2045' menjadi '22052045'
peringkat_2besar.to_csv(f'hasil_Rizky/{tgl_aip}_2besar(SR).csv') # simpan