# Program untuk menggunakan model kelas 2

# Memprediksi bebrapa hari kedepan

In [1]:
import pandas_datareader as pdr
import pandas as pd
from fungsi import persen, datanya
from keras.models import load_model

In [2]:
prediction_days = 80 # timestep
ticker = ["CBMF","MPPA","KONI","SGER","SMMT","PANR","SMRA","MARK","MBSS","FMII",
          "TOTL","URBN","KDSI","ESIP","MEGA","TOBA","PBSA","ASMI","GPRA","SILO"]
mulai_iptpred = '2021-01-01' # tanggal mulai input model untuk memprediksi
akhir_iptpred = '2022-03-04' # tanggal akhir input model untuk memprediksi

hasil_model = pd.DataFrame(columns=['Saham','Perubahan nilai','Keadaan','0/1','Perubahan(%)'])

In [3]:
for tic in ticker:
    makanannya = pdr.DataReader(f'{tic}.JK', data_source='yahoo', start=mulai_iptpred, end=akhir_iptpred)
    model = load_model(f"model/{tic}_model.h5")
    hasil_pred = datanya.predik_5h(makanannya, prediction_days, model)
    kenaikan = hasil_pred[4][0] - hasil_pred[0][0]
    persentase, akan = persen.kenaikan_persen(hasil_pred[0][0], hasil_pred[4][0])
    hasil_model = pd.concat([hasil_model, pd.DataFrame.from_records([{
        'Saham': tic, 'Perubahan nilai' : kenaikan, 'Keadaan': akan[1],
        '0/1':akan[0],'Perubahan(%)' : persentase}])])

In [4]:
# mengurutkan sesuai kolom Perubahan(%), dari nilai terbesar ke terkecil
hasil_model.sort_values(by='Perubahan(%)',ascending=False, inplace=True) 
hasil_model.reset_index(inplace=True, drop=True) # mereset index
hasil_model.to_csv('hasil_kelas_2.csv')
hasil_model

  Saham Perubahan nilai Keadaan 0/1 Perubahan(%)
0  SUPR      688.061975    Naik   1     2.735441
1  FORU        4.074335    Naik   1     2.636952
2  MEDC       12.205844    Naik   1     2.362756
3  BPTR        0.744334    Naik   1     0.324212
4  PANI        0.192445    Naik   1     0.017265
5  BJTM         0.07859    Naik   1     0.010432
6  CAMP        0.000767    Naik   1     0.000267
7  INCO       -7.671602   Turun   0    -0.175283
8  MSKY       -1.576175   Turun   0    -0.401835
9  BPFI      -27.463617   Turun   0    -3.790708